@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Inter:wght@400;900&family=Kumbh+Sans:wght@400;700&family=Oswald:wght@300&display=swap');

*{
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body{
  background-image:url(../Images/background_Pizza.jpg);
}

main{
  display: flex;
  justify-content: center;
}

input{
  display: block;
  padding: 5px 5px;
  width: 200px;
}

#logo{
  margin-bottom: 2rem;
}

.container{
  align-items: center;
  background: #ffffff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 15%;
  margin-top: 10%;
  margin-bottom: 0;
  padding-top: 2rem;
  padding-left: 15.5px;
  padding-right: 15.5px;
  box-shadow: 5px 5px 5px 5px rgb(195, 191, 191, 0.8);
  text-align: center;
}


.boxInputs{
  color: #949292;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  gap:1rem
}

#Signin{
  margin-top: 1rem;
  border-style: none;
  background-color: red;
  color: #ffffff;
  cursor: pointer;
  height: 34px;
  width: 200px;
}

#Signin:hover{
  background-color: tomato;
  font-size: 16px;
}

.boxNome{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
}

.boxTelefone{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
}

.boxEmail{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
}

.boxSenha{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;

}

.boxOptions{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.boxOptions a{
  color: #a39c9c;
}

.boxOptionsC{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 2rem;
  text-align: left;
}

.boxOptionsC a{
  color: #a39c9c;
}

.boxOptionsC a:hover{
  text-decoration: underline;
}

.boxOptions a:hover{
  color: #a39c9c;
  text-decoration: underline;
  text-align: left;
}

.boxTermos{
  text-align: left;
  font-size: 11px;
  line-height: 1.3;
}

 